// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

.left-home {
  width: 600px;
  padding-top: 3%;
  padding-left: 3%;
}

#ic1 {
  text-align: center;
  margin-right: 170px;
}

#ic2 {
  text-align: center;
  i {
    margin-left: 10px;
  }
}

#ic3 {
  text-align: center;
  margin-left: 170px;
  margin-right: 57px;
}



.home-icon{
  background-color: #0B1B2D;
  display: flex;
  justify-content: center;
  .home-footer {
    display: flex;
    flex-direction: inherit;
    justify-content: space-around;
    font-size: 45px;
    background-color: #0B1B2D;
    color: #f5f1ef;
    padding: 25px;
    p {
      font-size: 15px;
    }
  }
}

.home-screen {
  height: 500px;
  display: flex;
  .home-box {
    padding-top: 80px;
    padding-left: 30px;
    width: 35.4%;
    background-color: #f9e7e6;
    color: #0b1c2d;
    h2 {
      margin-bottom: 20px;
      margin-left: 26px;
      margin-top: 50px;
    }
    p {
      margin-left: 26px;
    }
  }
  .home-description {
    background-color: #f5f1ef;
    width: 65%;
    .home-text {
      margin-left: 164px;
      margin-top: 125px;
      margin-bottom: 70px;
      a {
        text-decoration: none;
        color: #0b1c2d;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    h2 {
      font-size: 25px;
    }
  }
}

.fas-home {
  font-size: 24px;
}

.helpers-home h1 {
  font-weight: 900 !important;
  font-size: 52px;
  text-align: left;
  margin-top: 25%;
  margin-left: 20px;
  color: #0B1B2D;
}

.helpers-home p {
  font-weight: 700 !important;
  font-size: 25px;
  text-align: left;
  margin-left: 23px;
  color: #0B1B2D;
}

.helpers-home a {
  display: block;
  margin-left: 20px;
  width: 250px;
  padding: 10px 0px;
  text-align: center;
  border: 1px solid #a8a29f;
  border-radius: 10px;
  background-color: #a8a29f;
  color: #f5f1ef;
  font-size: 22px;
}

.helpers-home img {
  height: 75px;
  margin-left: 8px;
}

.helpers-home a:hover {
  text-decoration: none;
  background-color: #0B1B2D;
}

.home_video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  justify-content: center;
  object-fit: cover;
  top: 0;
  z-index: -2;
}

// .helpers-image
// {
//   background-image: url('https://images.unsplash.com/photo-1560252829-804f1aedf1be?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80');
//   background-position: top;
//   background-size: cover;

// }
