// Import page-specific CSS files here.
@import "home";
@import "dashboard";
@import "show";
@import "footer";

.body-color {
    background-color: #f9e7e6;
}

.asso-card {
  a {
    color: #0b1c2d;
  }
  .fa-heart:before {
    color: $helpers-red;
  }
  position: relative;
}

.lien{
  text-decoration: none !important;
}

.asso-card img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: -50px;
    top:40px;
    border: 4px solid white;
    background-color: white;
}

.pl-4rem {
  padding-left: 4rem;
}

#fav_card {
    font-size: 20px;
    // border-radius: 50%;
    position: absolute;
    right: 40px;
    top: 50px;
    color: $helpers-red;
    // border: 4px solid white;
}

.h2-bold h2 {
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 12px;
    color: #0B1B2D;
}
.index-titleh2 {
  color: #0B1B2D;
}

.img-size {
    padding-top: 20px;
    width: 270px;
    height: 100px;
}

.a-without-color {
    color: #0b1c2d !important;
}

// .iso-grid{
//     display: grid;
// }

.element-item{
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: $spacer;
    margin-bottom: $spacer;
}

.subcats{
    width: 75%;
    text-align: center;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: 25px;
    .subcat{
        .btn-ghost {
            width: 250px;
            color: #4A4A4A;
            border: 1px solid #4A4A4A;
            padding: 8px 24px;
            border-radius: 50px;
            font-weight: lighter;
            opacity: 0.6;
            transition: opacity 0.3s ease;
          }
          .btn-ghost:hover {
            opacity: 1;
          }
          .is-checked{
            background-color: #4A4A4A;
            color: white;
          }
    }
}
// .py-10vh {
//   padding-left: 7vw;
//   padding-right: 8vw;
// }

.px-5vw {
  padding-top: 10vh;
  padding-bottom: 4vh;
}

.pt-5, .py-5 {
    padding-top: 1rem !important;
}

// ANIMATION A REFAIRE :c

// .asso-card:hover > * {
//   opacity: 0.5;
// }

// .asso-card:hover > *:hover {
//   transform: scale(1.1);
//   opacity: 1;
// }

.fade-out-siblings > * {
  transition: 300ms opacity;
}

.fade-out-siblings-ex > * {
  transition: 300ms opacity, 300ms transform;
}

.fade-out-siblings:hover > * {
  opacity: 0.5;
  transition: 300ms transform;
}

.fade-out-siblings:hover > *:hover {
  transform: scale(1.1);
  opacity: 1;
}

.fade-out-siblings-ex:hover > *:hover {
  transform: scale(1.1);
  opacity: 1;
}