// Import page-specific CSS files here.
@import "home";
@import "dashboard";
@import "show";

.asso-card img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; 
}