input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: #a8a29f;
  color:white;
}

.input_styling{
  label {
    background-color: white;
    padding: 20px;
    width: 650px;
    color: #2f2f2f ;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
    border: 1px solid #ababab;
    animation: showTopText 1s;
  }
  input {
    background-color: #a8a29f;
    text-decoration: none;
    border: 1px solid $helpers-red ;
    padding: 14px;
    color: white ;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    animation: showTopText 2s;
  }
  input:hover {
    background-color: #0B1B2D;
    color:white;
  }
  a {

    background-color: #0B1B2D;
    text-decoration: none;
    border: 1px solid #0B1B2D ;
    padding: 14px;
    color: white ;
    border-radius: 100px;
    margin: 10px;
    width: 25%;
    animation: showTopText 2s;
  }


}

.adresse-style {
  label {
    margin-bottom:20px;
    font-size: 20px;
    animation: showTopText 1s;
    color: #a8a29f;
  }
}

#address {
border-radius: 30px;
width: 600px;
height: 45px;
}

.submit-btn {
  display:flex;
  align-items: center;
  justify-content: center;
  animation: showTopText 1s;

  input {
    background-color: #a8a29f;
    text-decoration: none;
    border: 1px solid #a8a29f ;
    padding: 14px;
    color: white ;
    border-radius: 10px;
    margin-top:30px;
    margin-bottom: 30px;
    width: 500px;
}

a{
  background-color: #a8a29f;
  text-decoration: none;
  border: 1px solid #a8a29f;
  padding: 14px;
  color: white;
  border-radius: 100px;
  margin: 10px;
  width: 50px;
  height: 50px;
}
a:hover {
  background-color:#0B1B2D;
  color:white;
}
}

.submit-btn{
  input:hover{
  background-color: #0B1B2D;
  color:white;
}
}
@keyframes slide {
0% {margin-left:-200px;}
33%{margin-left:-150px;}
66%{margin-left:-75px;}
100%{margin-left:0px;}
}


@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
