.show-container {
  width: 70vw;
  min-width: 350px;
  margin: 4vh auto;
}

.show-image {
  height: 35vh;
  min-height: 250px;
  background-size: cover;
  border: 10px solid white;
  background-color: white;
  margin: 0 auto;
  border-radius: 50%;
  width: 35vh;
  min-width: 250px;
}

#show-info {
  margin-left: 20px;
  width: 60%;
}

#show-info-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.show-content {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

#asso-name {
  font-size: 29px;
  font-weight: 600
}

#profile {
  display: flex;
  width: 100%;
}

#show-profile-details {
  width: 40%;
}


#showbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  margin: 35px 10px 10px 10px;
}

#show-tagbtn {
  font-size: 22px;
}

#show-tag {
  font-size: 18px;
  color: #6c757d;
}

#show-cat {
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
  margin-right: 28px;
}

.btn-show {
  padding: 18px;
  border-radius: 10px;
  border: 1px solid #a8a29f;
  border-radius: 10px;
  background-color: #a8a29f;
  color: #f5f1ef;
  font-size: 18px;
  &:hover {
    text-decoration: none;
    background-color: #0B1B2D;
  }
  a {
    text-decoration: none;
    color: #f5f1ef;;
  }
}

#asso-phone {
  // padding-left: 20px;
  padding-top: 10px;
  font-size: 20px;
}

#asso-coord {
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 10px;
}

#asso-des {
  font-size: 14.5px;
  color: darkgrey;
  text-align: justify;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

.photo-show {
  width: 210px;
  height: 210px;
  background-size: cover;
  border-radius: 50%;
  border-color: white;
  border: 4px solid white !important;
}

#fav{
  float: right;
  font-size: 35px;
  a {
    color: #C43256 !important;
  }
}
