<div class="home-icon">
  <div class="home-footer">
    <div id="ic1">
      <i class="fas fa-hand-holding-heart green"></i>
      <p>Avec bienveillance</p>
    </div >
    <div id="ic2">
      <i class="fas fa-hands-helping red"></i>
      <p>Ensemble</p>
    </div>
    <div id="ic3">
      <i class="fas fa-dove yellow"></i>
      <p>Pour notre liberté</p>
    </div>
  </div>
</div>
</div>
