<div class="home-container d-flex flex-row justify-content-center align-items-center h-100">
  <div class="w-50 h-100">
    <div class="helpers-home d-flex flex-column justify-content-center align-items-center vh-100">
      <%= image_tag('logo.png') %>
      <h1>Helpers</h1>
      <p>Besoin d'aide ?</p>
      <%= link_to "C'est parti !", assos_path %>
    </div>
  </div>
  <div class="w-50 h-100 helpers-image vh-100">
  </div>
</div>

