<%= image_tag("user.png",
    width: 200, height: 200, crop: :fill) %>

<h3>Mes favoris</h3>

<% current_user.favs.each do |fav| %>
  <p><%= fav.asso.name %></p>
<% end %>
  


<% if current_user.admin? %>
  <%= link_to "Créer une asso", new_asso_path %>
<% end %>
