<div class="background-pink px-5vw" style="padding-top: 10vh; padding-bottom: 10vh;">
  <div class="helpers-body bg-white w-100 helpers-rounded d-flex flex-row" style="height: 70vh;">
    <div id="map"
     style="width: 50%; height: 70vh;"
     class="custom-rounded-left-10"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <div class="w-50" style="overflow: hidden; height: 100%; overflow-y: scroll;">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h3 class="pt-4 bolder-text">Mes favoris</h3>
        <% if current_user.favs.empty? %>
          <div class="empty-favs d-flex justify-content-center align-items-center">
            <p class="text-middle">Pas d'association en favoris ? Cliquez sur <%= icon 'fas', 'heart', class: "heart" %>pour l'ajouter en favoris.</p>
          </div>
        <% else %>
          <div class="asso-cards m-5"
               id="fav-cards"
               data-controller="distance-compute"
               data-action="positionAcquired->distance-compute#compute"
          >
            <div class="d-flex flex-wrap flex-row justify-content-center align-items-center" data-distance-compute-target="cards">
              <%= render "cards" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
