.navbar-lewagon {
  justify-content: center;
  background: white;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  height: 60px;

}

.navbar-brand {
  margin-right: 0;
}

.navbar-collapse {
  // display: none !important;
  position: absolute;
  right: 20px;
}

.navbar-toggler {
  // display: block !important;
}

#favorite-counter {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 2px;
  background-color: #F9E7E6;
  border-radius: 50px;
  border: 1px solid #F9E7E6;
  text-align: center;
}

#navbarDropdown {
  cursor: pointer;
}
