.px-5vw {
  padding-left: 5vw;
  padding-right: 5vw;
}

.py-5vh {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.separator {
  border-top: 1px solid #000;
  width: 300px;
  margin: 0 auto;
}

.helpers-rounded {
  border-radius: 10px;
}

.helpers-green {
  background-color: #90DFD6;
}

.helpers-green a {
  color: #002903;
  &:hover
  {
    text-decoration: none;
  }
}

.helpers-red {
  background-color: #C43256;
}

.helpers-red a {
  color: #fff;
  &:hover
  {
    text-decoration: none;
  }
}

.helpers-yellow {
  background-color: #FFCB67;
}

.helpers-yellow a {
  color: #000022;
  &:hover
  {
    text-decoration: none;
  }
}

.demi-rounded {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-rounded {
  border-radius: 58px;
}

.custom-rounded {
  border-radius: 20px;
}

.custom-size {
  width: 600px;
  height: 150px;
}

.search {
  width: 500px;
  height: 80px;
}

.index-display button {
  border: none;
  background-color: transparent;
  margin-left: -50px;
  z-index: 1;
}

.bolder-text {
  font-weight: 700;
}
