.px-5vw {
  padding-left: 5vw;
  padding-right: 5vw;
}

.py-5vh {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.separator {
  border-top: 1px solid #000;
  width: 300px;
  margin: 0 auto;
}

.separator-lg {
  border-top: 1px solid #000;
  width: 1280px;
  margin: 0 auto;
}

.helpers-rounded {
  border-radius: 10px;
}

.helpers-green {
  background-color: #90DFD6;
}

.helpers-green a {
  color: #002903;
  &:hover
  {
    text-decoration: none;
  }
}

.helpers-red {
  background-color: #C43256;
}

.helpers-red a {
  color: #fff;
  &:hover
  {
    text-decoration: none;
  }
}

.helpers-yellow {
  background-color: #FFCB67;
}

.helpers-yellow a {
  color: #000022;
  &:hover
  {
    text-decoration: none;
  }
}

.demi-rounded {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.demi-rounded-up {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.search-rounded {
  border-radius: 58px;
}

.custom-rounded-left {
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 20px;
}

.custom-rounded {
  border-radius: 20px;
}

.custom-size {
  width: 700px;
  height: 170px;
}

.custom-border {
  border: 1px solid transparent !important;
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.1); 
}

.search {
  width: 500px;
  height: 80px;
}

.index-display button {
  border: none;
  background-color: transparent;
  margin-left: -50px;
  z-index: 1;
}

.bolder-text {
  font-weight: 700;
}

.custom-bg {
  background-color: #e9e9e9;
}

.font-16 {
  font-size: 16px;
}

.footer {
  font-size: 20px;
  padding-top: 10px;
  margin: 0 500px;
}

.footer .heart {
  color: #FF2E00;
}

.helpers-icons i {
  font-size: 32px;
  margin: 5px;
}

.h2-bold h2 {
  font-weight: bold;
}