<h1>Financier</h1>
<h2>De quelle type d'aide avez-vous besoin ?</h2>

<select class="custom-select custom-select-lg mb-3">
  <option value="1">Emploi</option>
  <option value="2">Logement</option>
  <option value="3">Transport</option>
  <option value="4">Education / Formation</option>
  <option value="5">Juridique</option>
</select>